.admin-update-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
}
@media screen and (max-width: 700px) {
  .admin-update-profile-container {
    form {
      grid-template-columns: auto !important
    }
  }
}