.admin-trash-products-container {
  .cancelbtn {
    background-color: #ccc;
    color: black;
    width: 25%;
  }
  .deletebtn {
    background-color: #f44336;
    color: black;
    width: fit-content;
  }
  .container {
    padding: 16px;
    text-align: center;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
@media screen and (max-width: 700px) {
  .admin-trash-products-container { 
    .board-title {
      p { font-size: 25px;}
    }
    tbody, thead {
      td:nth-child(1) { display: none;}
      td:nth-child(2) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      td:nth-child(4) { display: none;}
      td:nth-child(5) { display: none;}
    }
    .modal-content {
      width: 80% !important;
    }
  } 
}