<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../../img/4.jpg" />
  <link rel="stylesheet" href="/css/adminAllOrders.css">
  <link rel="stylesheet" href="/css/adminAllProducts.css">
  <link rel="stylesheet" href="/css/adminCreateProduct.css">
  <link rel="stylesheet" href="/css/adminHome.css">
  <link rel="stylesheet" href="/css/adminOrder.css">
  <link rel="stylesheet" href="/css/adminSidebar.css">
  <link rel="stylesheet" href="/css/adminTrashProducts.css">
  <link rel="stylesheet" href="/css/adminUpdateProduct.css">
  <link rel="stylesheet" href="/css/adminUpdateProfile.css">
  <link rel="stylesheet" href="/css/body.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>{{title}}</title>
</head>
<body>
  <header>
    {{> adminSidebar}}
  </header>
  
  <main style="margin-left: 200px;">
    {{{body}}}
  </main>
</body>
</html>