<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="../img/4.jpg" />
  <link rel="stylesheet" href="/css/userAdvertise.css">
  <link rel="stylesheet" href="/css/userAllProducts.css">
  <link rel="stylesheet" href="/css/userFooter.css">
  <link rel="stylesheet" href="/css/userFooterNavigate.css">
  <link rel="stylesheet" href="/css/userHeader.css">
  <link rel="stylesheet" href="/css/userHome.css">
  <link rel="stylesheet" href="/css/userIntroduce.css">
  <link rel="stylesheet" href="/css/userNavigate.css">
  <link rel="stylesheet" href="/css/userNewArrival.css">
  <link rel="stylesheet" href="/css/userOrders.css">
  <link rel="stylesheet" href="/css/userProduct.css">
  <link rel="stylesheet" href="/css/body.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>{{title}}</title>
</head>
<body>
  <header>
    {{> userHeader }}
  </header>
  
  <nav>
    {{> userNavigate}}
  </nav>
  
  <main>
    {{{body}}}
  </main>

  <footer>
    {{> userFooter}}
  </footer>

  <footerNav>
    {{> userFooterNavigate}}
  </footerNav>
</body>
</html>