.advertisement-container {
  .slideshow-container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    img {
      vertical-align: middle;
      max-width: 1300px;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    };
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    };
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    };
    .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
    }
  };
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  };
  .dot:hover {
    background-color: #717171;
  }
}