.flash-deal-board, .products-board {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flash-deal-board {
  background: linear-gradient(168.12deg, #ffb0a4 0%, #ff6b7f 100%);
  border-radius: 20px;
  i.fi-sr-bolt, a {
    animation: bling 1s infinite
  }
}
.products-board {
  background-color: white;
  border-radius: 20px;
}
.famous-brand-board {
  overflow: hidden;
  padding-top: 20px;
  position: relative;
  margin: auto;
  justify-content: center;
  .brands {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
  }
  .inner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    animation: loop 10s linear infinite;
  }
  .brand {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    box-sizing: border-box;
    img {
      height: 100px;
    }
    a { 
      text-decoration: none; 
      color: black;
      width: max-content;
    }
  }
  .fade {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
}
@keyframes bling {
  0% {color: white;}
  50% {color: yellow;}
  100% {color: white;}
}
@keyframes loop {
  0% { transform: translateX(0) }
  100% { transform: translateX(-50%) }
}
@media screen and (max-width: 700px) {
  .flash-deal-board, .hot-products-board, .content-board, .famous-brand-board {
    .title {font-size: 20px !important}
  }
}