<div class="admin-create-order-container">
  <form id="form-1" method="post" action="/admin/all-orders/order/created" enctype="multipart/form-data">
    <div class="form-title">
      <p>Thêm đơn hàng mới</p>
    </div>

    <div class="submit-button">
      <button title="submit" type="submit">Hoàn thành</button>
    </div>
  </form>
</div>

<script src="/js/checkInput.js" defer></script>
<script src="/js/admin/create/order.js" defer></script>