<div class="handle-products">
  <form method="post" action="/admin/store">
    <div class="form-title">
      <p>Thêm sản phẩm mới</p>
    </div>
    <div class="form-group">
      <label for="brand">Nhập hãng sản phẩm</label>
      <input type="text" class="form-control" id="brand" name="brand">
    </div>
    <div class="form-group">
      <label for="name">Nhập tên sản phẩm</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="price">Nhập giá sản phẩm</label>
      <input type="text" class="form-control" id="price" name="price">
    </div>
    <div class="form-group">
      <label for="description">Nhập mô tả sản phẩm</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="form-group">
      <label for="details">Nhập chi tiết sản phẩm</label>
      <input type="text" class="form-control" id="details" name="details">
    </div>
    <div class="submit-button">
      <button title="submit" type="submit">Hoàn thành</button>
    </div>
  </form>
</div>