  <div class="chat-body">
    <ul class="chat-content">
      <div class="left-content">
      </div>
    </ul>
    
    <form class="input-form">
      <textarea name="input" id="input" class="input" placeholder="Aa"></textarea>
      <div class="send-btn not-allowed">Gửi</div>
    </form>
  </div>

  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script>
  const socket = io('http://localhost:3000', {
    path: "/socket.io"
  });

  let counter = 0  
  const chatBody    = document.querySelector('div.chat-body')
  const chatContent = document.querySelector('ul.chat-content')
  const input       = document.querySelector('textarea.input')
  const sendBtn     = document.querySelector('div.send-btn')
  const isLoggedIn  = document.cookie
  const userId      = isLoggedIn.split('user_id=')[1]
  const form = document.querySelector('form.input-form')

  socket.emit('joinRoom', '65eddb9e7abb421b88771b35');

  sendBtn.onclick = function() {
    if (input.value.trim() !== '') {
      socket.emit('privateMessage', { room: '12345', message: `${userId}:${input.value}` })
      {{!-- socket.emit('chat message', `${userId}:${input.value}`); --}}
      input.value = ''
      sendBtn.classList.add('not-allowed')
    }
  }

  input.addEventListener('input', function() {
    if (input.value.trim() !== '') sendBtn.classList.remove('not-allowed') 
    else sendBtn.classList.add('not-allowed')
  })

  input.addEventListener("keypress", function(event) {
    if (event.key === "Enter" && input.value.trim() !== '') {
      sendBtn.click();
      input.value = ''
      sendBtn.classList.add('not-allowed')
    }
  })

  socket.on('chat message', (id, msg) => {
    console.log(`${id},${msg}`)
    const chat = document.createElement('li');
    chat.textContent = msg;
    if (id.trim() === userId) {
      chat.setAttribute('class', 'right-content')
    }  
      chatContent.appendChild(chat);
  });
</script>