<div class="admin-create-product-container">
  <form id="form-1" method="post" action="/admin/created" enctype="multipart/form-data">
    <div class="form-title">
      <p>Thêm sản phẩm mới</p>
    </div>

    <div class="form-group">
      <label for="categories">Chọn Dòng Sản Phẩm</label>
      <select name="categories">
        <option value="">-- Chọn --</option>
        <option value="skincare">Skincare</option>
        <option value="makeup">Makeup</option>
      </select>
    </div>

    <div class="form-group" style="display: none;">
      <label for="skincare">Skincare</label>
      <select name="skincare">
        <option value="">-- Chọn --</option>
        <option value="xit-khoang">
          Xịt Khoáng
        </option>
        <option value="mat-na">
          Mặt Nạ
        </option>
        <option value="serum">
          Serum
        </option>
        <option value="bha">
          BHA
        </option>
        <option value="tay-da-chet">
          Tẩy Da Chết
        </option>
        <option value="duong-da">
          Dưỡng Da
        </option>  
        <option value="toner">
          Toner
        </option>
        <option value="nuoc-tay-trang">
          Nước Tẩy Trang
        </option>
        <option value="cham-mun">
          Chấm Mụn
        </option>
        <option value="kem-duong-am">
          Kem Dưỡng Ẩm
        </option>
        <option value="sua-rua-mat">
          Sữa Rửa Mặt
        </option>
      </select>
    </div>

    <div class="form-group" style="display: none;">
      <label for="makeup">Makeup</label>
      <select name="makeup">
        <option value="">-- Chọn --</option>
        <option value="phan-ma">
          Phấn Má
        </option>
        <option value="mascara">
          Mascara
        </option>
        <option value="ke-mat">
          Kẻ Mắt
        </option>
        <option value="kem-chong-nang">
          Kem Chống Nắng
        </option>
        <option value="che-khuyet-diem">
          Che Khuyết Điểm
        </option>
        <option value="son">
          Son
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="brand">Hãng Sản Phẩm</label>
      <input type="text" class="form-control" id="brand" name="brand">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="name">Tên Sản phẩm</label>
      <input type="text" class="form-control" id="name" name="name">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="price">Giá Sản Phẩm</label>
      <input type="text" class="form-control" id="price" name="price">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="description">Giới Thiệu Sản Phẩm</label>
      <input type="text" class="form-control" id="description" name="description">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="details">Chi tiết Sản Phẩm</label>
      <input type="text" class="form-control" id="details" name="details">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="hotsale">Tình Trạng Sản Phẩm</label>
      <select name="hotsale">
        <option value="no">Bình thường</option>
        <option value="flash-sale">Đang Flash Sale</option>
        <option value="hot">Đang hot</option>
        <option value="out-of-order">Hết Hàng</option>
      </select>
    </div>

    <div class="form-group">
      <label for="newArrival">Hàng Mới Về</label>
      <select name="newArrival">
        <option value="no">Không</option>
        <option value="yes">Chuẩn luôn, mới về</option>
      </select>
    </div>

    <div class="form-group">
      <label>Ảnh Sản Phẩm</label>
      <input type="file" name="avatar" id="avatar"/>
    </div>
    <div class="submit-button">
      <button title="submit" type="submit">Đăng</button>
    </div>

  </form>
</div>

<script>  
// executing validate
function validating(inputElement, rule, checkValidate, index) {
  var errorMessage = rule.test(inputElement.value)
  var errorElement = inputElement.parentElement.querySelector('.form-message')

  if (errorMessage) {
    errorElement.innerText = errorMessage
    inputElement.parentElement.style.color = "red"
    checkValidate[index] = false
  } else {
    errorElement.innerText = ''
    inputElement.parentElement.style.color = "black"
    checkValidate[index] = true
  }
}  

// isRequiredString requires input must have string
function isRequiredString(selector) {
  return {
    selector: selector,
    test: function (value) {
      return value.trim() ? undefined : 'Chưa Nhập Kìa =((('
    }
  }
}

// isRequiredNumber requires input must have number
function isRequiredNumber(selector) {
  return {
    selector: selector,
    test: function (value) {
      return value > 0 ? undefined : 'Chưa Nhập Tiền Kìa =((('
    }
  }
}

// validator function to validate input form from user
function validator(options) {
  var formElement = document.querySelector(options.form)
  var checkValidate = Array(5).fill(false)

  options.rules.forEach(function (rule, index) {
    var inputElement = formElement.querySelector(rule.selector)
    // input blur
    inputElement.onblur = function () {
      validating(inputElement, rule, checkValidate, index)
    }
  })

  formElement.onsubmit = function (e) {
    for (var i = 0; i < checkValidate.length; ++i) {
      if(checkValidate[i] === false) {
        e.preventDefault()
        options.rules.forEach(function (rule, index) {
          var inputElement = formElement.querySelector(rule.selector)
          validating(inputElement, rule, checkValidate, index)
        })
        break
      }
    }
  }
}

validator({
  form: '#form-1',
  errorSelector: '.form-message',
  rules: [
    isRequiredString('#brand'),
    isRequiredString('#name'),
    isRequiredNumber('#price'),
    isRequiredString('#description'),
    isRequiredString('#details'),
  ]
})

// skincare and makeup visibility
var selectBox = document.querySelector('select[name="categories"]')
var selectedValue = ''
var skincareBox = document.querySelector('select[name="skincare"]').parentElement
var makeUpBox = document.querySelector('select[name="makeup"]').parentElement

selectBox.onchange = function() {
  selectedValue = selectBox.options[selectBox.selectedIndex].value;
  if (selectedValue === 'skincare') {
    skincareBox.style.display = 'block'
    makeUpBox.style.display = 'none'
  }
  if (selectedValue === 'makeup') {
    skincareBox.style.display = 'none'
    makeUpBox.style.display = 'block'
  }
}

</script>