<div class="admin-create-store-container">
  <form id="form-1" method="post" action="/admin/all-stores/store/created" enctype="multipart/form-data">
    <div class="form-title">
      <p>Thêm cửa hàng mới</p>
    </div>

    <div class="form-group">
      <label for="name">Tên cửa hàng</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="VD: Bunny House Thanh Xuân">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="address">Địa chỉ cửa hàng</label>
      <input type="text" class="form-control" id="address" name="address" placeholder="VD: Thanh Xuân, Hà Nội">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="details">Thông tin cửa hàng</label>
      <input type="text" class="form-control" id="details" name="details" placeholder="VD: Cửa hàng to, rộng rãi với 500m2">
      <span class="form-message"></span>
    </div>

    <div class="submit-button">
      <button title="submit" type="submit">Tạo</button>
    </div>
  </form>
</div>

<script>  
// executing validate
function validating(inputElement, rule, checkValidate, index) {
  var errorMessage = rule.test(inputElement.value)
  var errorElement = inputElement.parentElement.querySelector('.form-message')

  if (errorMessage) {
    errorElement.innerText = errorMessage
    inputElement.style.border = '2px solid red'
    inputElement.parentElement.style.color = 'red'
    checkValidate[index] = false
  } else {
    errorElement.innerText = ''
    inputElement.style.border = 'none'
    inputElement.parentElement.style.color = 'black'
    checkValidate[index] = true
  }
}  

// isRequiredString requires input must have string
function isRequiredString(selector) {
  return {
    selector: selector,
    test: function (value) {
      return value.trim() ? undefined : 'Chưa Nhập Kìa =((('
    }
  }
}

// validator function to validate input form from user
function validator(options) {
  var formElement = document.querySelector(options.form)
  var checkValidate = Array(3).fill(false)

  options.rules.forEach(function (rule, index) {
    var inputElement = formElement.querySelector(rule.selector)
    // input blur
    inputElement.onblur = function () {
      validating(inputElement, rule, checkValidate, index)
    }
  })

  formElement.onsubmit = function (e) {
    for (var i = 0; i < checkValidate.length; ++i) {
      if(checkValidate[i] === false) {
        e.preventDefault()
        options.rules.forEach(function (rule, index) {
          var inputElement = formElement.querySelector(rule.selector)
          validating(inputElement, rule, checkValidate, index)
        })
        break
      }
    }
  }
}

validator({
  form: '#form-1',
  errorSelector: '.form-message',
  rules: [
    isRequiredString('#name'),
    isRequiredString('#address'),
    isRequiredString('#details')
  ]
})
</script>