<div class="admin-create-customer-container">
  <form id="form-1" method="post" action="/admin/all-customers/customer/created" enctype="multipart/form-data">
    <div class="form-title">
      <p>Thêm khách hàng mới</p>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="name" name="name" placeholder="Họ Tên">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="email" name="email" placeholder="Email">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="password" name="password" placeholder="Mật Khẩu">
      <span class="form-message"></span> 
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="Xác Nhận Mật Khẩu">
      <span class="form-message"></span>
    </div>

    <div class="submit-button">
      <button title="submit" type="submit">Hoàn thành</button>
    </div>
  </form>
</div>

<script>  
// executing validate
function validating(inputElement, rule, checkValidate, index) {
  var errorMessage = rule.test(inputElement.value)
  var errorElement = inputElement.parentElement.querySelector('.form-message')

  if (errorMessage) {
    errorElement.innerText = errorMessage
    inputElement.style.border = '2px solid red'
    inputElement.parentElement.style.color = 'red'
    checkValidate[index] = false
  } else {
    errorElement.innerText = ''
    inputElement.style.border = 'none'
    inputElement.parentElement.style.color = 'black'
    checkValidate[index] = true
  }
}  

// isRequiredString requires input must have string
function isRequiredString(selector) {
  return {
    selector: selector,
    test: function (value) {
      return value.trim() ? undefined : 'Chưa Nhập Kìa =((('
    }
  }
}

function isEmail(selector) {
  return {
    selector: selector,
    test: function (value) {
      var regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
      return regex.test(value) ? undefined : 'Nhập Đúng Email Vô =((('
    }
  }
}

// isConfirmPassword requires reEnter password must be the same as the initial 
function isConfirmPassword(selector, getPasswordValue) {
  return {
    selector: selector,
    test: function (value) {
      return (value === getPasswordValue() && value !== '') ? undefined : "Mật Khẩu Chưa Trùng Rồi"
    }
  }
}

// validator function to validate input form from user
function validator(options) {
  var formElement = document.querySelector(options.form)
  var checkValidate = Array(6).fill(false)

  options.rules.forEach(function (rule, index) {
    var inputElement = formElement.querySelector(rule.selector)
    // input blur
    inputElement.onblur = function () {
      validating(inputElement, rule, checkValidate, index)
    }
  })

  formElement.onsubmit = function (e) {
    for (var i = 0; i < checkValidate.length; ++i) {
      if(checkValidate[i] === false) {
        e.preventDefault()
        options.rules.forEach(function (rule, index) {
          var inputElement = formElement.querySelector(rule.selector)
          validating(inputElement, rule, checkValidate, index)
        })
        break
      }
    }
  }
}

validator({
  form: '#form-1',
  errorSelector: '.form-message',
  rules: [
    isRequiredString('#name'),
    isEmail('#email'),
    isRequiredString('#phone'),
    isRequiredString('#address'),
    isRequiredString('#password'),
    isConfirmPassword('#password-confirm', function() {
      return document.querySelector('#form-1 #password').value
    })
  ]
})
</script>