<div class="admin-create-purchase-container">
  <form id="form-1" method="post" action="/admin/all-purchases/purchase/created" enctype="multipart/form-data">
    <div class="form-title">
      <p>Thêm đơn nhập mới</p>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Nhập tên sản phẩm">
    </div>

    <div class="products-match"></div>

    <div style="overflow-x: auto;">
      <table>
        <thead>
          <tr>
            <td style="width: 15%;"></td>
            <td style="width: 50%;">Sản Phẩm</td>
            <td style="width: 10%;">Đơn Giá</td>
            <td style="width: 10%;">Số Lượng</td>
            <td style="width: 10%;">Tổng Tiền</td>
            <td style="width: 5%;"></td>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>

    <div class="submit-button">
      <button title="submit" type="submit">Hoàn thành</button>
    </div>
  </form>
</div>

<script>  
</script>