<div class="admin-all-orders-container">  
  <div class="board-sidebar">
    <p>Tổng Đơn Hàng</p>
  </div>

  <div class="table">
    <table style="width:100%">
      <tr>
        <th>
          ID
        </th>
        <th>
          Tên đơn hàng
        </th>
        <th>
          Tên Người Mua
        </th>
      </tr>
    </table>
  </div>

  <div class="total">
    <p class="total-title">Tổng Đơn Hàng</p>
    <p class="total-number">{{total}}</p>
  </div>
</div>

<script>

</script>
