<div class="user-all-brands-container">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <div class="main-title" style="text-transform:uppercase"><b>Toàn bộ thương hiệu</b></div>
  </div>
  
  <div class="all-brands">
    {{#each brand}}
      <div class="brand">
        <a href="/all-products/all-brands/{{this}}">
          {{this}}
        </a>
      </div>
    {{/each}}
  </div>
</div>