<div class="user-all-brands-container">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <div class="main-title" style="text-transform:uppercase"><b>Toàn bộ thương hiệu</b></div>
  </div>
  
  <div class="all-brands">
    {{#each holderBrands}}
      <div class="brand loading">
        <a href="/all-brands/brand/{{this._id}}">
          <img src="{{this.img.path}}" alt="{{this.name}}" loading="lazy"/>
          {{this.name}}
        </a>
      </div>
    {{/each}}
  </div>
</div>

<script>
  importLinkCss('/css/user/allBrands.css')
</script>
<script src="/js/user/allBrands.js"></script>