<div class="all-orders-container">
  <div class="progress">
    <span>1</span>
    <progress id="first-progress" value="0" max="100"></progress>
    <span>2</span>
    <progress id="second-progress" value="0" max="100"></progress>
    <span>3</span>
  </div>

  <form id="form-4" action="/all-orders/create-orders" method="post">
    <div class="cart">
      <p>Giỏ Hàng Của Tôi</p>
      <table>
        <thead>
          <tr>
            <td style="width: 10%;"></td>
            <td style="width: 50%;">Tên Sản Phẩm</td>
            <td style="width: 10%;">Giá</td>
            <td style="width: 10%;">Số Lượng</td>
            <td style="width: 10%;">Tổng Tiền</td>
            <td style="width: 10%;">Xoá</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>

    <div class="contact-info">
      <p>Thông Tin Khách Hàng</p>
      <label for="name">Tên Khách Hàng *</label>
      <input type="text" id="name" name="name">
      <span class="form-message"></span><br>

      <label for="phone">Số Điện Thoại *</label>
      <input type="text" id="phone" name="phone">
      <span class="form-message"></span><br>

      <label for="address">Địa Chỉ Nhận Hàng *</label>
      <input type="text" id="address" name="address">
      <span class="form-message"></span><br>

      <label for="note">Ghi Chú</label>
      <input type="text" id="note" name="note">
    </div>

    <div class="payment-method">
      <p>Hình Thức Thanh Toán</p>

      <input type="radio" id="cash" name="paymentMethod" value="cash">
      <label for="cash">Trả Tiền Mặt</label><br>
      
      <input type="radio" id="cashless" name="paymentMethod" value="transfer">
      <label for="cashless">Chuyển Khoản</label>
      <div class="bank-account">
        <span>19037654462013<br>Techcombank<br>Đặng Quỳnh Ly</span>
      </div>
    </div>

    <div class="button">
      <button title="submit" type="submit" class="submit-button">Đặt Hàng</button>
    </div>
  </form>

  <div class="button">
    <button class="next-button">Tiếp theo</button>
  </div>
</div>

<script>
// display each process logic
var getContactInfo = document.querySelector('div.contact-info')
var getPaymentMethod = document.querySelector('div.payment-method')
var getNextButton = document.querySelector('button.next-button')
var getSubmitButton = document.querySelector('button.submit-button')
var getProgressMarks = document.querySelector('div.progress').querySelectorAll('span')
var getProgressBars = document.querySelectorAll('progress')
var getTableBody = document.querySelector('tbody')
var getTableFooter = document.querySelector('tfoot')
// define a total order price, store as an object to change initial value through each function
var totalOrderPrice = {
  total: 0
}

// display each process for customer
function displayProcess(
  getContactInfo,
  getPaymentMethod,
  getNextButton,
  getSubmitButton,
  getProgressMarks,
  getProgressBars,
) {
    getProgressMarks[0].style.backgroundColor = '#D1A6A6'
    getProgressMarks[0].style.color = 'white'

    // set default display to 'none' on start
    getContactInfo.style.display = 'none'
    getPaymentMethod.style.display = 'none'
    getSubmitButton.style.display = 'none'

    getNextButton.onclick = function() {
      if (getContactInfo.style.display === 'none') {
        getContactInfo.style.display = 'grid'

        getProgressMarks[1].style.backgroundColor = '#D1A6A6'
        getProgressMarks[1].style.color = 'white'
        getProgressMarks[0].innerHTML = `<i class="fi fi-br-check"></i>`

        getProgressBars[0].value = '100'
        getProgressBars[0].style.accentColor = '#D1A6A6'
      } 
      else {
        getPaymentMethod.style.display = 'block'

        getProgressMarks[2].style.backgroundColor = '#D1A6A6'
        getProgressMarks[2].style.color = 'white'
        getProgressMarks[1].innerHTML = `<i class="fi fi-br-check"></i>`

        getProgressBars[1].value = '100'
        getProgressBars[1].style.accentColor = '#D1A6A6'
      }

      if (getPaymentMethod.style.display === 'block') {
        getNextButton.style.display = 'none'
        getSubmitButton.style.display = 'block'
      }
    }
  }
displayProcess(
  getContactInfo,
  getPaymentMethod,
  getNextButton,
  getSubmitButton,
  getProgressMarks,
  getProgressBars
)

// create table body
function updateTableBody(totalOrderPrice) {
  var getProductInfo = JSON.parse(localStorage.getItem('product_cart_count')) || {};
  var productInfoLength = getProductInfo.productInfo.length 
  var getTableBody = document.querySelector('tbody')
  totalOrderPrice.total = 0

  var newProductUserId = document.createElement('input')
  newProductUserId.setAttribute('name', 'userId')
  newProductUserId.style.display = 'none'

  var userId = getCookie('user_id')
  if (userId) {
    newProductUserId.setAttribute('value', userId)
  } else {
    newProductUserId.setAttribute('value', 'guest')
  }

  // create new row for new product have name, price, quantity and totalPrice
  for (let i = 0; i < productInfoLength; ++i) {
    // create new row
    var newProductRow = document.createElement('tr') 

    // create img link 
    var newProductImage = document.createElement('td')
    var productImage = document.createElement('img')
    productImage.setAttribute('src', `../uploads/${getProductInfo.productInfo[i].image}`)
    newProductImage.appendChild(productImage)

    // create new element and get data from localStorage
    var newProductName = document.createElement('td')

    // create a tag. Link to the product details page when user want to change the cart
    var newProductAnchorTag = document.createElement('a')
    newProductAnchorTag.setAttribute('href', `/product/${getProductInfo.productInfo[i].slug}`)
    newProductAnchorTag.innerText = getProductInfo.productInfo[i].name
    newProductAnchorTag.style.paddingLeft = '5px'
    newProductName.appendChild(newProductAnchorTag)

    // create an input store the name value to submit the form
    var newProductNameInput = document.createElement('input')
    newProductNameInput.setAttribute('name', 'productName')
    newProductNameInput.setAttribute('value', getProductInfo.productInfo[i].name)
    newProductNameInput.style.display = 'none'

    var newProductPrice = document.createElement('td')
    newProductPrice.innerText = `${getProductInfo.productInfo[i].price} đ`

    var newProductQuantity = document.createElement('td')
    var newProductQuantityInput = document.createElement('input')
    newProductQuantityInput.setAttribute('type', 'hidden')
    newProductQuantityInput.setAttribute('name', 'productQuantity')
    newProductQuantityInput.setAttribute('value', getProductInfo.productInfo[i].quantity)
    newProductQuantity.innerText = getProductInfo.productInfo[i].quantity

    var newProductTotalPrice = document.createElement('td')
    var convertNewProductTotalPriceToString = ((getProductInfo.productInfo[i].price*1000) * getProductInfo.productInfo[i].quantity).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') 
    newProductTotalPrice.innerText = `${convertNewProductTotalPriceToString} đ`
    
    var newProductDelete = document.createElement('td')
    newProductDelete.setAttribute('class', 'delete-button')
    newProductDelete.innerText = 'Xoá'

    // calculate all product prices
    totalOrderPrice.total += (getProductInfo.productInfo[i].price*1000) * getProductInfo.productInfo[i].quantity

    // add each element to the row
    newProductRow.appendChild(newProductUserId)
    newProductRow.appendChild(newProductImage)

    newProductRow.appendChild(newProductName)
    newProductRow.appendChild(newProductNameInput)

    newProductRow.appendChild(newProductPrice)

    newProductRow.appendChild(newProductQuantity)
    newProductRow.appendChild(newProductQuantityInput)

    newProductRow.appendChild(newProductTotalPrice)

    newProductRow.appendChild(newProductDelete)

    // add each row to the table
    getTableBody.appendChild(newProductRow)
  }
  deleteCart(totalOrderPrice)
}
updateTableBody(totalOrderPrice)

// create table footer
function updateTableFooter(totalOrderPrice) {
  var getTableFooter = document.querySelector('tfoot')
  var totalOrderTitle = document.createElement('td')
  totalOrderTitle.innerText = 'Tổng Đơn Hàng'

  var totalOrderPrices = document.createElement('td')

  var totalOrderPricesInput = document.createElement('input')
  totalOrderPricesInput.setAttribute('type', 'hidden')
  totalOrderPricesInput.setAttribute('name', 'totalProductPrice')
  totalOrderPricesInput.setAttribute('value', totalOrderPrice.total)
  var convertTotalOrderPricesToString = totalOrderPrice.total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') 
  totalOrderPrices.innerText = `${convertTotalOrderPricesToString} đ`

  // add each element to the total order row
  getTableFooter.appendChild(document.createElement('td'))
  getTableFooter.appendChild(totalOrderTitle)
  getTableFooter.appendChild(document.createElement('td'))
  getTableFooter.appendChild(document.createElement('td'))
  getTableFooter.appendChild(totalOrderPricesInput)
  getTableFooter.appendChild(totalOrderPrices)
  getTableFooter.appendChild(document.createElement('td'))
  getTableFooter.appendChild(document.createElement('td'))
}
updateTableFooter(totalOrderPrice)

// delete all previous elements
function deleteCartItem(tableElement) {
  while (tableElement.lastChild) {
    tableElement.removeChild(tableElement.lastChild)
  }
}

// delete item from cart 
function deleteCart(totalOrderPrice) {
  var deleteButton = document.querySelectorAll('td.delete-button')

  for (let i = 0; i < deleteButton.length; ++i) {
    deleteButton[i].onclick = function() {
      var getProductInfo = JSON.parse(localStorage.getItem('product_cart_count')) || {};
      getProductInfo.localCounting--
      getProductInfo.productInfo.splice(i,1)
      localStorage.setItem('product_cart_count', JSON.stringify(getProductInfo));
      document.dispatchEvent(new CustomEvent('cartUpdated'));
      deleteCartItem(getTableBody)
      updateTableBody(totalOrderPrice)
      deleteCartItem(getTableFooter)
      updateTableFooter(totalOrderPrice)
    }
  }
}
deleteCart(totalOrderPrice)

//
function validating(inputElement, rule, checkValidate, index) {
  var errorMessage = rule.test(inputElement.value)
  var errorElement = inputElement.parentElement.querySelectorAll('.form-message')[index]
  var errorLabelElement = inputElement.parentElement.querySelectorAll('label')[index]

  if (errorMessage) {
    errorElement.innerText = errorMessage
    errorLabelElement.style.color = 'red'
    inputElement.style.borderColor = 'red'
    errorElement.style.color = "red"
    checkValidate[index] = false
  } else {
    errorElement.innerText = ''
    errorLabelElement.style.color = 'black'
    inputElement.style.borderColor = 'black'
    errorElement.style.color = "black"
    checkValidate[index] = true
  }
}  

// isRequiredString requires input must have string
function isRequiredString(selector) {
  return {
    selector: selector,
    test: function (value) {
      return value.trim() ? undefined : 'Quên Chưa Nhập Kìa =((('
    }
  }
}

// validator function to validate input form from user
function validator(options) {
  var formElement = document.querySelector(options.form)
  var checkValidate = Array(3).fill(false)

  options.rules.forEach(function (rule, index) {
    var inputElement = formElement.querySelector(rule.selector)
    // input blur
    inputElement.onblur = function () {
      validating(inputElement, rule, checkValidate, index)
    }
  })

  formElement.onsubmit = function (e) {
    for (var i = 0; i < checkValidate.length; ++i) {
      if(checkValidate[i] === false) {
        e.preventDefault()
        options.rules.forEach(function (rule, index) {
          var inputElement = formElement.querySelector(rule.selector)
          validating(inputElement, rule, checkValidate, index)
        })
        break
      } 
    }
  }
}

validator({
  form: '#form-4',
  errorSelector: '.form-message',
  rules: [
    isRequiredString('#name'),
    isRequiredString('#phone'),
    isRequiredString('#address'),
  ]
})

// create successfully message
if (`{{successful}}` && `{{newOrderId}}`) {
  var orderSuccessfullyMessage = document.createElement('div')
  orderSuccessfullyMessage.setAttribute('class', 'order-successfully-message')
  orderSuccessfullyMessage.innerHTML = `
    <i class="fi fi-ss-check-circle"></i>
    <h3>Chúc mừng bạn đã đặt hàng thành công !!!</h3>
    <h3>Mã đơn hàng của bạn là: {{newOrderId}}</h3>
    <h5>Nếu là người mới, bạn hãy lưu lại mã này để theo dõi đơn hàng ở mục 'Đơn hàng' nhé</h5>
    <h5>Còn nếu bạn đã có tài khoản rồi thì có thể theo dõi đơn hàng ở mục 'Tiến độ đơn hàng' luôn nha</h5>
    <a href="/all-orders"><button>OK</button></a>
  `
  document.body.appendChild(orderSuccessfullyMessage)
}

</script>