<div class="user-all-products-container">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <div class="main-title"><b>Toàn bộ sản phẩm nè</b></div>
  </div>

  <div class="all-category-skincare"></div>
  <div class="all-category-makeup"></div>

  <div class="sort">
    <label>Sắp xếp theo:</label>
    <select id="price" class="filter-btn">
      <option value="">Giá</option>
      <option value="1">Giá tăng dần</option>
      <option value="-1">Giá giảm dần</option>
    </select>

    <select id="rate" class="filter-btn">
      <option value="">Đánh giá</option>
      <option value="1">Đánh giá tăng dần</option>
      <option value="-1">Đánh giá giảm dần</option>
    </select>

    <select id="saleNumber" class="filter-btn">
      <option value="">Lượng bán</option>
      <option value="1">Lượng bán tăng dần</option>
      <option value="-1">Lượng bán giảm dần</option>
    </select>

    <button id="clear-filter" style="display: none">Xoá bộ lọc</button>
  </div>

  <div class="filter">
    <label>Khoảng giá</label>
    <div class="range-slide">
      <div class="slide">
        <div class="line" id="line" style="left: 0%; right: 0%;"></div>
        <span class="thumb" id="thumbMin" style="left: 0%;"></span>
        <span class="thumb" id="thumbMax" style="left: 100%;"></span>
      </div>
      <input id="rangeMin" type="range" max="100" min="10" step="5" value="0">
      <input id="rangeMax" type="range" max="100" min="10" step="5" value="10000000">
    </div>
    <div class="display">
      <span id="min">10</span>
      <span id="max">100</span>
    </div>

    <button id="clear-filter" style="display: none">Xoá bộ lọc</button>
  </div>

  <div class="products">
    {{#each products}}
      {{> product}}
    {{/each}}
  </div>

  <span class="pagination"></span>
</div>

<script>
  var getSlug       = `{{type}}`
  var currentPage   = `{{currentPage}}`
  var productLength = `{{productLength}}`
  loadFile('/js/user/allProducts.js')
</script>
<script src="/js/user/product.js"></script>