<div class="detail-rate-order-container">
  <form id="form-1" method="post" action="/all-orders/order/rate/rated">
  <table>
    <thead>
      <tr><td>Sản Phẩm</td></tr>
    </thead>
    <tbody>
      {{#each orderInfo.products}}
      <tr>
        <td>
          <p>{{this.name}}</p>
          <input type="text" placeholder="Nhập đánh giá của bạn" id="productRate" name="productRate">
          <input type="hidden" id="name" name="name" value="{{this.name}}">
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="button">
    <button type="submit">Gửi</button>
  </div>
</div>

<script src="/js/user/detailRateOrder.js" defer></script>