<div class="advertise-board">
  {{> userAdvertise}}
</div>

<div class="flash-deal-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm đang sale">
    <i class="fi fi-sr-bolt"></i>
    <div><a href="/all-products/flash-sale" class="main-title"><b>TOP SẢN PHẨM FLASH DEAL</b></a></div>
  </div>
  
  <div class="products">
    {{#each flashSaleProducts}}
      {{> product}}
    {{/each}}
  </div>
</div>

<div class="products-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm bán chạy">
    <i class="fi fi-sr-trophy-star"></i>
    <div><a href="/all-products?saleNumber=-1" class="main-title"><b>TOP SẢN PHẨM BÁN CHẠY</b></a></div>
  </div>
  
  <div class="products">
    {{#each hotSaleProducts}}
      {{> product}}
    {{/each}}
  </div>
</div>

<div class="products-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm đang hot">
    <i class="fi fi-sr-flame"></i>
    <div><a href="/all-products/hot" class="main-title"><b>TOP SẢN PHẨM HOT</b></a></div>
  </div>
  
  <div class="products">
    {{#each hotProducts}}
      {{> product}}
    {{/each}}
  </div>
</div>

<div class="products-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm skincare">
    <i class="fi fi-sr-spray-can"></i>
    <div><a href="/all-products/skincare" class="main-title"><b>TOP SẢN PHẨM SKINCARE</b></a></div>
  </div>
  
  <div class="products">
    {{#each skincareProducts}}
      {{> product}}
    {{/each}}
  </div>
</div>

<div class="products-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm makeup">
    <i class="fi fi-sr-lipstick"></i>
    <div><a href="/all-products/makeup" class="main-title"><b>TOP SẢN PHẨM MAKEUP</b></a></div>
  </div>
  
  <div class="products">
    {{#each makeupProducts}}
      {{> product}}
    {{/each}}
  </div>
</div>

<div class="products-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm">
    <i class="fi fi-sr-flame"></i>
    <div><a href="/all-products" class="main-title"><b>TOÀN BỘ SẢN PHẨM</b></a></div>
  </div>

  <div class="products">
    {{#each allProducts}}
      {{> product}}
    {{/each}}
  </div>
</div>

<div class="famous-brand-board">
  <div class="title" data-tippy-content="Xem toàn bộ thương hiệu">
    <i class="fi fi-rr-brand"></i>
    <div><a href="/all-brands" class="main-title"><b>TOP THƯƠNG HIỆU NỔI BẬT</b></a></div>
  </div>

  <div class="brands">
    <div class="inner">
      {{#each brands}}
      <a class="brand" href="/all-brands/brand/{{this._id}}" data-tippy-content="{{this.name}}">
        <img src="{{this.img.path}}" alt="{{this.name}}" loading="lazy">
      </a>
      {{/each}}
    </div>
    <div class="fade"></div>
  </div>
</div>

<script>
  loadFile('/js/user/home.js')
</script>
<script src="/js/user/product.js"></script>