<div class="order-container">
  <div class="progress">
    <span>1</span>
    <progress id="first-progress" value="0" max="100"></progress>
    <span>2</span>
    <progress id="second-progress" value="0" max="100"></progress>
    <span>3</span>
    <progress id="third-progress" value="0" max="100"></progress>
    <span>4</span>
  </div>

  <form action="">
    <div class="cart">
      <p>Giỏ hàng của tôi</p>
      <table>
        <tr>
          <th></th>
          <th>Sản phẩm</th>
          <th>Phân loại</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
          <th>Xoá</th>
        </tr>
        <tr>
          <th></th>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
      </table>
    </div>

    <div class="delivery">
      <p>Chọn hình thức giao hàng</p>

      <input type="radio" id="direct" name="delivery" value="direct">
      <label for="direct">Nhận hàng tại chi nhánh </label><br>
      
      <input type="radio" id="indirect" name="delivery" value="indirect">
      <label for="indirect">Giao hàng tại địa chỉ người nhận</label>
    </div>

    <div class="contact-info">
      <p>Nhập thông tin khách hàng</p>

      <label for="name">Tên người mua</label>
      <input type="text" id="name" name="name">
      <span class="form-message"></span><br>

      <label for="phone-number">Số điện thoại</label>
      <input type="text" id="phone-number" phone-number="name">
      <span class="form-message"></span><br>

      <label for="note">Ghi chú</label>
      <input type="text" id="note" name="note">
      <span class="form-message"></span>
    </div>

    <div class="total-expense">
      <p>Tổng tiền hàng</p>
      <p>100000</p>
    </div>
  </form>

  <div class="button">
    <button class="next-button">Tiếp theo</button>
    <button title="submit" type="submit" class="submit-button">Hoàn thành</button>
  </div>
</div>

<script>

  // display each process logic
  var getDelivery = document.querySelector('div.delivery')
  var getContactInfo = document.querySelector('div.contact-info')
  var getTotalExpense = document.querySelector('div.total-expense')
  var getNextButton = document.querySelector('button.next-button')
  var getSubmitButton = document.querySelector('button.submit-button')
  var getProgressMarks = document.querySelector('div.progress').querySelectorAll('span')
  var getProgressBars = document.querySelectorAll('progress')

  getProgressMarks[0].style.backgroundColor = '#D1A6A6'
  getProgressMarks[0].style.color = 'white'

  // set default display to 'none' on start
  getDelivery.style.display = 'none'
  getContactInfo.style.display = 'none'
  getTotalExpense.style.display = 'none'
  getSubmitButton.style.display = 'none'

  getNextButton.onclick = function() {
    if (getDelivery.style.display === 'none') {
      getDelivery.style.display = 'block'

      getProgressMarks[1].style.backgroundColor = '#D1A6A6'
      getProgressMarks[1].style.color = 'white'

      getProgressBars[0].value = '100'
      getProgressBars[0].style.accentColor = '#D1A6A6'
    } 
    else if (getContactInfo.style.display === 'none') {
      getContactInfo.style.display = 'grid'

      getProgressMarks[2].style.backgroundColor = '#D1A6A6'
      getProgressMarks[2].style.color = 'white'

      getProgressBars[1].value = '100'
      getProgressBars[1].style.accentColor = '#D1A6A6'
    } 
    else {
      getTotalExpense.style.display = 'block'

      getProgressMarks[3].style.backgroundColor = '#D1A6A6'
      getProgressMarks[3].style.color = 'white'

      getProgressBars[2].value = '100'
      getProgressBars[2].style.accentColor = '#D1A6A6'
    }

    if (getTotalExpense.style.display === 'block') {
      getNextButton.style.display = 'none'
      getSubmitButton.style.display = 'block'
    }
  }

  // get data to display from localStorage
  var productInfo = JSON.parse(localStorage.getItem('product_cart_count')) || {};
  var productName = productInfo.productName || {};
  var getNameField = document.querySelectorAll('td')[0] 
  getNameField.innerText = productName[0] || ''


</script>