<div class="order-checking-container">
    <h1>Hãy Nhập Mã Đơn Để Kiểm Tra Đơn Hàng Của Bạn Nhé !</h1>
    <input type="text" placeholder="Nhập Mã Đơn Để Kiểm Tra Đơn Hàng">
    <button>Kiểm Tra</button>
</div>