<div class="user-update-profile-container">
    {{> userSidebar}}

    <div class="content">
      <p>Góp ý</p>
      <form class="update-feedback" method="POST" action="/profile/updated/{{user._id}}?_method=PUT">
        <div class="form-group">
          <label for="phone">Bạn có góp ý gì cho mình thì điền vô đây nha</label>
          <input 
            type="text" 
            class="form-control" 
            id="phone" 
            name="phone" 
          >
        </div>
      </form> 

      <div class="submit-button"><button type="submit">Cập Nhật</button></div>
    </div>
</div>   

<script>
  importLinkCss('/css/user/profile.css')
</script>
<script src="/js/user/profileFeedback.js"></script>