<div class="user-update-profile-container">
    <div class="sidebar-menu">
      <div class="avatar">
        <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711070727/web-img/logo_xkavlj.webp" alt="{{userInfo.userInfo.name}}" loading="lazy">
        <span>{{userInfo.userInfo.name}}</span>
      </div>
      <div class="tag">
        <ul>
          <li class="profile">
            <i class="fi fi-br-circle-user"></i>
            <span>Thông tin cá nhân</span>
          </li>
          <li class="orders">
            <i class="fi fi-rr-piggy-bank"></i>
            <span>Thông tin đơn hàng</span>
          </li>
          <li class="rate-orders">
            <i class="fi fi-rr-piggy-bank"></i>
            <span>Đánh giá đơn hàng</span>
          </li>
          <li class="feedback">
            <i class="fi fi-rr-feedback-alt"></i>
            <Span>Góp ý</Span>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">
      
    </div>
</div>   

<script src="/js/user/profile.js" defer></script>