<div class="sign-up-container">
  <div class="sign-up-form">
    <img src="https://res.cloudinary.com/bunny-store/image/upload/v1730102111/web-img/4_lnwzuk_jkpls2.jpg" alt="signup_img">
    <div class="form-input" loading="lazy">
      <p class="form-title">Đăng ký</p>
      <form id="form-2" method="post" action="/authentication/creating-account">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="Họ Tên">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="email" name="email" placeholder="Email">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Mật Khẩu">
          <span class="form-message"></span> 
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="password-confirm" name="password-confirm" placeholder="Xác Nhận Mật Khẩu">
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <p class="wrong-info">
          </p> 
        </div>

        <div class="form-action">
          <button title="submit" type="submit">Đăng Ký</button>
        </div>

        <div class="sign-in">
          <p>Đã có tài khoản ? </p>
          <a href="/authentication/sign-in"><p style="color: red; text-decoration:underline">Đăng nhập ngay thôi</p></a>
          <a href="/home"><p style="color: red; text-decoration:underline">Tiếp tục Shopping</p></a>
        </div>
      </form>
    </div>
  </div>
  
</div>

<script>
var wrongInfo = document.querySelector('p.wrong-info')
if (`{{error}}`) {
  wrongInfo.innerText = `{{error}}`
  wrongInfo.style.color = 'red'
}

// executing validate
function validating(inputElement, rule, checkValidate, index) {
    var errorMessage = rule.test(inputElement.value)
    var errorElement = inputElement.parentElement.querySelector('.form-message')

    if (errorMessage) {
      errorElement.innerText = errorMessage
      inputElement.parentElement.style.color = "red"
      checkValidate[index] = false
    } else {
      errorElement.innerText = ''
      inputElement.parentElement.style.color = "black"
      checkValidate[index] = true
    }
  }  

// isRequiredString requires input must have string
function isRequiredString(selector) {
  return {
    selector: selector,
    test: function (value) {
      return value.trim() ? undefined : 'Quên Chưa Nhập Kìa =((('
    }
  }
}

// isEmail requires input must be an email 
function isEmail(selector) {
  return {
    selector: selector,
    test: function (value) {
      var regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
      return regex.test(value) ? undefined : 'Nhập Đúng Email Vô =((('
    }
  }
}

// isConfirmPassword requires reEnter password must be the same as the initial 
function isConfirmPassword(selector, getPasswordValue) {
  return {
    selector: selector,
    test: function (value) {
      return (value === getPasswordValue() && value !== '') ? undefined : "Mật Khẩu Chưa Trùng Rồi"
    }
  }
}

// validator function to validate input form from user
function validator(options) {
  var formElement = document.querySelector(options.form)
  var checkValidate = Array(4).fill(false)

  options.rules.forEach(function (rule, index) {
    var inputElement = formElement.querySelector(rule.selector)
    // input blur
    inputElement.onblur = function () {
      validating(inputElement, rule, checkValidate, index)
    }
  })

  formElement.onsubmit = function (e) {
    for (var i = 0; i < checkValidate.length; ++i) {
      if(checkValidate[i] === false) {
        e.preventDefault()
        options.rules.forEach(function (rule, index) {
          var inputElement = formElement.querySelector(rule.selector)
          validating(inputElement, rule, checkValidate, index)
        })
        break
      }
    }
  }
}

validator({
  form: '#form-2',
  errorSelector: '.form-message',
  rules: [
    isRequiredString('#name'),
    isEmail('#email'),
    isRequiredString('#password'),
    isConfirmPassword('#password-confirm', function() {
      return document.querySelector('#form-2 #password').value
    })
  ]
})

</script>