<div class="login-container">
  <form id="form-3" method="post" action="/authentication/checking-account">
    <div class="form-title">
      <p>Đăng nhập</p>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="details">Mật khẩu</label>
      <input type="password" class="form-control" id="password" name="password">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <p class="forgot-password">
        Quên mật khẩu
      </p> 
    </div>

    <button title="submit" type="submit">Đăng nhập</button>
    
    <div class="form-group">
      <div class="other-login-methods">
        Đăng nhập bằng tài khoản khác
      </div> 
      <div class="other-login-methods-logo">
        <i class="fi fi-brands-facebook"></i>
        <i class="fi fi-brands-google"></i>
      </div>
    </div>
  </form>

  <div class="sign-up">
    <p>Bạn chưa có tài khoản sao</p>
    <a href="/authentication/sign-up"><p style="color: red; text-decoration:underline">Đăng kí ngay thôi</p></a>
  </div>
</div>

<script>  

// executing validate
function validating(inputElement, rule, checkValidate, index) {
    var errorMessage = rule.test(inputElement.value)
    var errorElement = inputElement.parentElement.querySelector('.form-message')

    if (errorMessage) {
      errorElement.innerText = errorMessage
      inputElement.parentElement.style.color = "red"
      checkValidate[index] = false
    } else {
      errorElement.innerText = ''
      inputElement.parentElement.style.color = "black"
      checkValidate[index] = true
    }
  }  

// isRequiredString requires input must have string
function isRequiredString(selector) {
  return {
    selector: selector,
    test: function (value) {
      return value.trim() ? undefined : 'Quên chưa nhập kìa =((('
    }
  }
}

// isEmail requires input must be an email 
function isEmail(selector) {
  return {
    selector: selector,
    test: function (value) {
      var regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
      return regex.test(value) ? undefined : 'Nhập cho đúng vào =((('
    }
  }
}

// isConfirmPassword requires reEnter password must be the same as the initial 
function isConfirmPassword(selector, getPasswordValue) {
  return {
    selector: selector,
    test: function (value) {
      return (value === getPasswordValue() && value !== '') ? undefined : "chưa giống lắm nhỉ"
    }
  }
}

// validator function to validate input form from user
function validator(options) {
  var formElement = document.querySelector(options.form)
  var checkValidate = Array(2).fill(false)

  options.rules.forEach(function (rule, index) {
    var inputElement = formElement.querySelector(rule.selector)
    // input blur
    inputElement.onblur = function () {
      validating(inputElement, rule, checkValidate, index)
    }
  })

  formElement.onsubmit = function (e) {
    for (var i = 0; i < checkValidate.length; ++i) {
      if(checkValidate[i] === false) {
        e.preventDefault()
        options.rules.forEach(function (rule, index) {
          var inputElement = formElement.querySelector(rule.selector)
          validating(inputElement, rule, checkValidate, index)
        })
        break
      }
    }
  }
}

validator({
  form: '#form-3',
  errorSelector: '.form-message',
  rules: [
    isEmail('#email'),
    isRequiredString('#password'),
  ]
})

</script>