<div class="login-container">
  <form id="form-2" method="post" action="/authentication/creating-account">
    <div class="form-title">
      <p>Đăng ký</p>
    </div>

    <div class="form-group">
      <label for="name">Tên</label>
      <input type="text" class="form-control" id="name" name="name">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu</label>
      <input type="password" class="form-control" id="password" name="password">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="password-confirm">Xác nhận mật khẩu</label>
      <input type="password" class="form-control" id="password-confirm" name="password-confirm">
      <span class="form-message"></span>
    </div>

    <button title="submit" type="submit">Đăng kí</button>
  </form>

  <div class="sign-up">
    <p>Đã có tài khoản ? </p>
    <a href="/authentication/sign-in"><p style="color: red; text-decoration:underline">Đăng nhập ngay thôi</p></a>
  </div>
</div>

<script>  

// executing validate
function validating(inputElement, rule, checkValidate, index) {
    var errorMessage = rule.test(inputElement.value)
    var errorElement = inputElement.parentElement.querySelector('.form-message')

    if (errorMessage) {
      errorElement.innerText = errorMessage
      inputElement.parentElement.style.color = "red"
      checkValidate[index] = false
    } else {
      errorElement.innerText = ''
      inputElement.parentElement.style.color = "black"
      checkValidate[index] = true
    }
  }  

// isRequiredString requires input must have string
function isRequiredString(selector) {
  return {
    selector: selector,
    test: function (value) {
      return value.trim() ? undefined : 'Quên chưa nhập kìa =((('
    }
  }
}

// isEmail requires input must be an email 
function isEmail(selector) {
  return {
    selector: selector,
    test: function (value) {
      var regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
      return regex.test(value) ? undefined : 'Nhập cho đúng vào =((('
    }
  }
}

// isConfirmPassword requires reEnter password must be the same as the initial 
function isConfirmPassword(selector, getPasswordValue) {
  return {
    selector: selector,
    test: function (value) {
      return (value === getPasswordValue() && value !== '') ? undefined : "chưa giống lắm nhỉ"
    }
  }
}

// validator function to validate input form from user
function validator(options) {
  var formElement = document.querySelector(options.form)
  var checkValidate = Array(4).fill(false)

  options.rules.forEach(function (rule, index) {
    var inputElement = formElement.querySelector(rule.selector)
    // input blur
    inputElement.onblur = function () {
      validating(inputElement, rule, checkValidate, index)
    }
  })

  formElement.onsubmit = function (e) {
    for (var i = 0; i < checkValidate.length; ++i) {
      if(checkValidate[i] === false) {
        e.preventDefault()
        options.rules.forEach(function (rule, index) {
          var inputElement = formElement.querySelector(rule.selector)
          validating(inputElement, rule, checkValidate, index)
        })
        break
      }
    }
  }
}

validator({
  form: '#form-2',
  errorSelector: '.form-message',
  rules: [
    isRequiredString('#name'),
    isEmail('#email'),
    isRequiredString('#password'),
    isConfirmPassword('#password-confirm', function() {
      return document.querySelector('#form-2 #password').value
    })
  ]
})

</script>