.admin-create-customer-container {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
  }
  .form-title {
    width: 504px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: larger;
      font-weight: bolder;
      text-transform: uppercase
    };
  }
  .form-group {
    display: grid;
    gap: 5px;
    padding: 5px 10px 5px 10px;
    input {
      width: 100%;
      min-height: 30px;
      border-radius: 5px;
      text-indent: 10px;
      border: none
    };
    #avatar {
      width: fit-content;
      padding-left: 5px;
    }
  }
  select, option {
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    padding-left: 5px;
  }
  .submit-button {
    width: 504px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
  }
  button {
    width: 150px; 
    height: 30px;
    background-color: white;
    color: #D1A6A6;
    border: 1px solid #D1A6A6;
    border-radius: 5px;
    cursor: pointer;
  };
  button:hover {
    background-color: #D1A6A6;
    color: white;
    border: 1px solid white ;
  }
}
@media screen and (max-width: 700px) {
  .admin-create-product-container {
    form {
      width: 100% !important;
    }
    .form-title, .submit-button {
      width: 100% !important;
    }
  }
}