.sign-in-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .sign-in-form{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;

    img { width: 50% };

    .form-input {
      width: 50%;
      padding: 5px;
      
      .form-title {
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: bolder;
        margin-block-start: 0em;
        margin-block-end: 0em;
      }
  
      .form-group {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        input {
          width: 80%;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #D1A6A6;
          text-indent: 10px;
          padding-block: 0px;
        };

        p {
          font-size: 13px;
          margin-block-start: 0;
          margin-block-end: 0;
          font-style: italic;
          justify-self:end
        }
      
        p:hover {
          text-decoration: underline;
        }
      }

      .form-action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;

        button {
          width: 80%;
          height: 40px;
          background-color: #D1A6A6;
          color: white;
          border: 1px solid white;
          border-radius: 5px;
          cursor: pointer;
        };
      
        button:hover {
          background-color: white;
          color:  #D1A6A6;
          border: 1px solid white ;
          border-color: #D1A6A6;
        }
      } 

      .other-login-methods, .other-login-methods-logo {
        justify-self: center;
        padding: 5px;
      }

      .other-login-methods-logo {
        i {
          font-size: 30px;
        }
      }
      
      .sign-up {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;

        p {
          font-size: 13px;
          margin-block-start: 0;
          margin-block-end: 0;
          font-style: italic;
          justify-self:end
        }
      
        p:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .sign-in-form {
    flex-direction: column;

    .form-input {
      width: 100%;
      padding: 5px;
    }
  }
}