.update-board {
  padding-top: 170px;
  padding-bottom: 50px;

  .form-action {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;

    .form-select {
      width: fit-content;
    }

    .form-button {
      width: fit-content;
      opacity: 0.6;
      /* cursor: not-allowed; */
    }
  }

  table, th, td {
    border:1px solid black;
  }

  /* Set a style for all buttons */
  button {
    width: 50px; 
    height: 30px;
    background-color: white;
    color: #D1A6A6;
    border: 1px solid #D1A6A6;
    border-radius: 5px;
    cursor: pointer;
  };

  button:hover {
    background-color: #D1A6A6;
    color: white;
    border: 1px solid white ;
  }

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
  color: black;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}
}