.order-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  .title {
    width: 90%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    height: 50px;
  }

  table {
    width: 70%;
    border-spacing: 0px 10px;
    padding: 0px 10px;

    thead {
      background-color: #D1A6A6;
      height: 50px;
      font-weight: bolder;
      text-align: center;
    }

    tbody {
      td {
        height: 50px;
        border-bottom: 1px solid black;
        padding: 5px 0;
      }
    }
  }
}