.all-orders-container {
  .progress {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
    position: fixed;
    height: 30px;
    width: 100%;
    z-index: 1;
    background-color: white;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 50%;
      width: 30px;
      aspect-ratio: 1/1;
    }
  }

  form {
    padding-top: 50px;
  }
  
  .cart, .contact-info, .payment-method {
    background-color: white;
    margin-top: 10px;

    p {
      background-color: #F0F0F0;
      height: fit-content;
      padding: 10px;
      text-transform: capitalize;
      font-weight: bolder;
      margin-block-start: 0px;
    }
  }

  .cart {
    table, thead, td, tfoot {
      text-align: center;
    }

    table {
      width: 100%;
      border-spacing: 0px 10px;
      padding: 0px 10px;
  
      thead, tfoot {
        background-color: #D1A6A6;
        height: 50px;
        a { text-decoration: none }
        i { color: black };
      }

      tbody {
        background-color:#F0F0F0;
        height: 50px;

        td:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        td:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        .delete-button {
          cursor: pointer;
        }
      }

      /* tr:nth-child(even){background-color: #F0F0F0}
      tr:nth-child(odd){background-color: white}
      tr:hover {background-color: #D1A6A6;} */

      a { text-decoration: none; color: black;}
    }
  }

  img {
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1/1;
  }

  .contact-info {
    label, input, span {
      margin: 0 10px;
    }

    label:first-child {
      margin-top: 10px;
    }

    input {
      max-width: 50%;
      height: 30px;
      border-radius: 5px;
      border: 1px solid black;
    }
  }

  .payment-method {
    .bank-account {
      display: none;
    }

    input[value="transfer"]:checked ~ .bank-account {
      display: block;
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    button {
      width: 150px; 
      height: 30px;
      background-color: white;
      color: #D1A6A6;
      border: 1px solid #D1A6A6;
      border-radius: 5px;
      cursor: pointer;
    };
  
    button:hover {
      background-color: #D1A6A6;
      color: white;
      border: 1px solid white ;
    }
  }
}