.order-checking-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    input {
      width: 80%;
      height: 50px;
      border: 1px solid white;
      border-radius: 10px;
    }
  
    input::placeholder {
      text-align: center; 
      
   }
  
    button {
    width: 30%;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #D1A6A6;
    }
  }
}