<div class="flash-deal-board" style="padding-top: 50px;">
  <div class="board-title" style="display: flex; align-items: center; color: red; justify-content: space-between;">
    <div class="title">
      <i class="fi fi-sr-flame"></i>
      <p class="main-title"><b>FLASH DEAL</b></p>
    </div>
    <div class="see-more-icon">
      <p class="see-more-icon-title">Xem Tất Cả</p>
      <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
    </div>
  </div>
  
  <div class="flash-deal-products">
    <div class="product">
      <img src="img/1.jpg" alt="" id="product-1">
      <p id="product-price">100.000</p>
      <p id="product-details">Sữa Rửa Mặt CeraVe Cho Da Thường Đến Khô 473ml</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span> 
    </div>

    <div class="product">
      <img src="img/2.jpg" alt="" id="product-2">
      <p id="product-price">100.000</p>
      <p id="product-details">Gel Rửa Mặt Cosrx Tràm Trà, 0.5% Độ pH Thấp 150ml</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/3.jpg" alt="" id="product-3">
      <p id="product-price">100.000</p>
      <p id="product-details">Kem nền che khuyết điểm Dermacol</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/5.jpg" alt="" id="product-4">
      <p id="product-price">100.000</p>
      <p id="product-details">Nước Tẩy Trang Bioderma Dành Cho Da Nhạy Cảm 500ml</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>
    
    <div class="product">
      <img src="img/6.jpg" alt="" id="product-5">
      <p id="product-price">100.000</p>
      <p id="product-details">Mặt Nạ Tẩy Tế Bào Chết Huxley 30g</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <a class="prev-product">❮</a>
    <a class="next-product">❯</a>
  </div>
</div>

<div class="hot-products-board" style="padding-top: 50px;">
  <div class="board-title" style="display: flex; align-items: center; color: red; justify-content: space-between;">
    <div class="title">
      <i class="fi fi-sr-flame"></i>
      <p class="main-title"><b>SẢN PHẨM HOT</b></p>
    </div>
    <div class="see-more-icon">
      <p class="see-more-icon-title">Xem Tất Cả</p>
      <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
    </div>
  </div>
  
  <div class="hot-products">
    <div class="product">
      <img src="img/7.jpg" alt="" id="product-1" >
      <p id="product-price">100.000</p>
      <p id="product-details">Sữa Rửa Mặt innisfree Dịu Nhẹ Chiết Xuất Trà Xanh 150g (Mới)</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/8.jpg" alt="" id="product-2" >
      <p id="product-price">100.000</p>
      <p id="product-details">Kem Chống Nắng La Roche-Posay Kiểm Soát Dầu SPF50+ 50ml</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/9.jpg" alt="" id="product-3" >
      <p id="product-price">100.000</p>
      <p id="product-details">Kem Dưỡng La Roche-Posay Làm Dịu, Hỗ Trợ Phục Hồi Da 40ml</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/10.jpg" alt="" id="product-4" >
      <p id="product-price">100.000</p>
      <p id="product-details">Nước Tẩy Trang innisfree Dưỡng Ẩm Da 300ml</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/11.jpg" alt="" id="product-5" >
      <p id="product-price">100.000</p>
      <p id="product-details">Phấn Nước Che Phủ Hoàn Hảo LIME Real Cover Pink Cushion & V Collagen Ample SPF 50+/PA+++ 20g</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>
    <a class="prev-product">❮</a>
    <a class="next-product">❯</a>
  </div>
</div>

<div class="content-board" style="padding-top: 50px;">
  <div class="board-title" style="display: flex; align-items: center; color: red; justify-content: space-between;">
    <div class="title">
      <i class="fi fi-sr-flame"></i>
      <p class="main-title"><b>SẢN PHẨM CHÍNH</b></p>
    </div>
    <div class="see-more-icon">
      <p class="see-more-icon-title">Xem Tất Cả</p>
      <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
    </div>
  </div>

  <div class="products">
    <div class="product">
      <img src="img/12.jpg" alt="" id="product-1">
      <p id="product-price">100.000</p>
      <p id="product-details">Phấn Phủ TFS Oil Clear Smooth & Bright Pact SPF30 PA++</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/13.jpg" alt="" id="product-2">
      <p id="product-price">100.000</p>
      <p id="product-details">Nước Hoa Hồng Kiềm Dầu Green Tea Balancing Skin EX Innisfree( Mẫu mới )</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/14.jpg" alt="" id="product-3">
      <p id="product-price">100.000</p>
      <p id="product-details">Kem nền BB Power V201 The Face Shop 40ml</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/15.jpg" alt="" id="product-4">
      <p id="product-price">100.000</p>
      <p id="product-details">Kem Dưỡng SVR Giảm Mụn & Loại Bỏ Dầu Cho Da 40ml</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>

    <div class="product">
      <img src="img/16.jpg" alt="" id="product-5">
      <p id="product-price">100.000</p>
      <p id="product-details">Kem Kiểm Soát Dầu Nhờn Floslek Anti Acne Mattifying Cream 50ml Cho Da Sạch Mụn</p>
      <span class="product-button">
        <div>
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div> 
      </span>
    </div>
  </div>
</div>

<span class="see-more-button">
  <button>Xem thêm</button>
</span>

<div class="dropup">
  <span>
    <i class="fi fi-sr-circle-phone-flip"></i>
  </span>
  <div class="dropup-content">
    <div class="content">
      <a href="https://www.facebook.com/bunnylylyyy"><img src="https://static.vecteezy.com/system/resources/previews/022/488/748/non_2x/3d-render-meta-chat-messenger-facebook-messenger-icon-bubble-isolated-on-transparent-background-free-png.png" /></a>
    </div>
    <div class="content">
      <a href="https://www.facebook.com/bunnylylyyy"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" /></a>
    </div>               
    <div class="content">
      <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/01/Logo-Zalo-Arc.png" alt="loading" style="width: 30px;"/>
    </div> 
  </div>              
</div>    
