<div class="admin-sidebar-container">
  <div class="admin-account">
    <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711070717/web-img/admin_xernxj.webp" alt="avatar" loading="lazy"/>
    <div>
      <p>Xin chào Nam Vũ,</p>
      <p id="welcome-text"></p>
    </div>
  </div>
  
  <div class="admin-button">
    <a href="/admin" class="sidebar-button" id="home-page">
      <i class="fi fi-br-home"></i>
      <p>Trang chủ</p>
    </a>
    <a href="/admin/all-customers" class="sidebar-button" id="customers">
      <i class="fi fi-rr-users"></i>
      <p>Khách hàng</p>
    </a>
    <a href="/admin/all-orders" class="sidebar-button" id="orders">
      <i class="fi fi-rr-piggy-bank"></i>
      <p>Đơn Hàng</p>
    </a>
    <a href="/admin/all-stores" class="sidebar-button" id="stores">
      <i class="fi fi-rr-store-alt"></i>
      <p>Cửa hàng</p>
    </a>
    <a href="/admin/all-stores" class="sidebar-button" id="employees">
      <i class="fi fi-rr-users"></i>
      <p>Nhân sự</p>
    </a>
    <a href="/admin/all-products?page=1&type=" class="sidebar-button" id="total-products">
      <i class="fi fi-rr-box-open"></i>
      <p>Sản Phẩm</p>
    </a>
    <a href="/admin/all-brands" class="sidebar-button" id="total-brands">
      <i class="fi fi-rr-box-open"></i>
      <p>Đối tác</p>
    </a>
    <a href="/admin/trash" class="sidebar-button" id="trash">
      <i class="fi fi-br-trash"></i>
      <p>Kho</p>
    </a>
    <a class="sidebar-button" id="update-profile">
      <i class="fi fi-br-circle-user"></i>
      <p>Thông Tin Cá Nhân</p>
    </a>
    <a href="/authentication/sign-in" class="sidebar-button" id="log-out">
      <i class="fi fi-br-exit"></i>
      <p>Đăng Xuất</p>
    </a>
  </div>
</div>

<script>
  var currentTime = new Date().getHours()
  var checkDay = ''
  var homeButton          = document.querySelector('a#home-page')
  var customersButton     = document.querySelector('a#customers')
  var ordersButton        = document.querySelector('a#orders')
  var storeButton         = document.querySelector('a#stores')
  var employeesButton     = document.querySelector('a#employees')
  var productsButton      = document.querySelector('a#total-products')
  var brandsButton        = document.querySelector('a#total-brands')
  var trashButton         = document.querySelector('a#trash')
  var updateProfileButton = document.querySelector('a#update-profile')
  var logOutButton        = document.querySelector('a#log-out')

  var index = `{{index}}`
  if (index === 'home'          ) homeButton.style.backgroundColor          = '#FFDFDF'
  if (index === 'customers'     ) customersButton.style.backgroundColor     = '#FFDFDF'
  if (index === 'orders'        ) ordersButton.style.backgroundColor        = '#FFDFDF'
  if (index === 'stores'        ) storeButton.style.backgroundColor         = '#FFDFDF'
  if (index === 'employees'     ) employeesButton.style.backgroundColor     = '#FFDFDF'
  if (index === 'products'      ) productsButton.style.backgroundColor      = '#FFDFDF'
  if (index === 'brands'        ) brandsButton.style.backgroundColor        = '#FFDFDF'
  if (index === 'trash'         ) trashButton.style.backgroundColor         = '#FFDFDF'
  if (index === 'update-profile') updateProfileButton.style.backgroundColor = '#FFDFDF'

  if (currentTime <= 9) {
    checkDay = 'buổi sáng'
  } else if (currentTime <= 14) {
    checkDay = 'buổi trưa'
  } else if (currentTime <= 18) {
    checkDay = 'buổi chiều'
  } else {
    checkDay = 'buổi tối'
  }

  var helloText = `Chúc bạn một ${checkDay} vui vẻ !!!`
  document.getElementById('welcome-text').innerHTML = helloText

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  var adminId = getCookie('user_id') 
  updateProfileButton.setAttribute('href', `/admin/update-profile/${adminId}`)

  // log-out
  logOutButton.onclick = function() {
    document.cookie = "auth_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  }
</script>