<div class="admin-sidebar-container">
  <div class="admin-account">
    <img src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/407842795_816972246897281_6146221013070996008_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEOTJ6a9Y5eJBfwa6N0_lQ-RTSqpruNgfZFNKqmu42B9uQbv6DfHeIPanb061IGVIezorkFPofMERZj-gFOglE4&_nc_ohc=MmwZ5w7WdKwAX928kX4&_nc_ht=scontent.fhan14-1.fna&oh=00_AfAi4KDMU0-BhcJ9zMGIYkCr2agkHpXANg1qWf0Ip3RQPA&oe=65F3CE5A" />
    <div>
      <p>Xin chào Quỳnh Ly,</p>
      <p id="welcome-text"></p>
    </div>
  </div>
  
  <div class="admin-button">
    <a href="/admin" class="sidebar-button" id="home-page">
      <i class="fi fi-br-home"></i>
      <p>Trang Chủ</p>
    </a>
    <a href="/admin/all-orders" class="sidebar-button" id="orders">
      <i class="fi fi-rr-piggy-bank"></i>
      <p>Đơn Hàng</p>
    </a>
    <a href="/admin/create" class="sidebar-button" id="create-product">
      <i class="fi fi-br-layer-plus"></i>
      <p>Thêm Sản Phẩm</p>
    </a>
    <a href="/admin/all-products" class="sidebar-button" id="total-products">
      <i class="fi fi-rr-box-open"></i>
      <p>Tổng Sản Phẩm</p>
    </a>
    <a href="/admin/trash" class="sidebar-button" id="trash">
      <i class="fi fi-br-trash"></i>
      <p>Kho</p>
    </a>
    <a class="sidebar-button" id="update-profile">
      <i class="fi fi-br-circle-user"></i>
      <p>Cập Nhật Thông Tin Cá Nhân</p>
    </a>
    <a href="/home" class="sidebar-button" id="log-out">
      <i class="fi fi-br-exit"></i>
      <p>Đăng Xuất</p>
    </a>
  </div>
</div>

<script>
  let currentTime = new Date().getHours()
  let checkDay = ''

  if (currentTime <= 9) {
    checkDay = 'buổi sáng'
  } else if (currentTime <= 14) {
    checkDay = 'buổi trưa'
  } else if (currentTime <= 18) {
    checkDay = 'buổi chiều'
  } else {
    checkDay = 'buổi tối'
  }

  let helloText = `Chúc bạn một ${checkDay} vui vẻ !!!`
  document.getElementById('welcome-text').innerHTML = helloText

  // update-profile
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  var updateProfileButton = document.querySelector('a#update-profile')
  var adminId = getCookie('user_id') 
  updateProfileButton.setAttribute('href', `/admin/update-profile/${adminId}`)

  // log-out
  var logOutButton = document.querySelector('a#log-out')
  logOutButton.onclick = function() {
    document.cookie = "auth_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  }

</script>