<div class="admin-sidebar-container">
  <div class="admin-account">
    <img src="https://scontent.fhan20-1.fna.fbcdn.net/v/t39.30808-6/407842795_816972246897281_6146221013070996008_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=dd5e9f&_nc_eui2=AeEOTJ6a9Y5eJBfwa6N0_lQ-RTSqpruNgfZFNKqmu42B9uQbv6DfHeIPanb061IGVIezorkFPofMERZj-gFOglE4&_nc_ohc=TLbLgsYotTkAX-iZPYr&_nc_ht=scontent.fhan20-1.fna&oh=00_AfD77hKhKRJr1secNvBYe0IG761Y6LhCWBJZSKBdyje1kg&oe=65D42A5A" />
    <div>
      <p>Xin chào Quỳnh Ly,</p>
      <p id="welcome-text"></p>
    </div>
  </div>
  
  <div class="admin-button">
    <a href="/admin" class="sidebar-button">
      <i class="fi fi-br-home"></i>
      <p>Trang Chủ</p>
    </a>
    <a href="/admin/all-orders" class="sidebar-button">
      <i class="fi fi-rr-piggy-bank"></i>
      <p>Đơn Hàng</p>
    </a>
    <a href="/admin/create" class="sidebar-button">
      <i class="fi fi-br-layer-plus"></i>
      <p>Thêm Sản Phẩm</p>
    </a>
    <a href="/admin/update" class="sidebar-button">
      <i class="fi fi-rr-box-open"></i>
      <p>Tổng Sản Phẩm</p>
    </a>
    <a href="/admin/trash" class="sidebar-button">
      <i class="fi fi-br-trash"></i>
      <p>Kho</p>
    </a>
    <a href="/home" class="sidebar-button">
      <i class="fi fi-br-browser"></i>
      <p>Trang Người Dùng</p>
    </a>
    <a href="/admin/update-profile" class="sidebar-button">
      <i class="fi fi-br-circle-user"></i>
      <p>Cập Nhật Thông Tin Cá Nhân</p>
    </a>
    <a href="/home" class="sidebar-button">
      <i class="fi fi-br-exit"></i>
      <p>Đăng Xuất</p>
    </a>
  </div>
</div>

<script>
  let currentTime = new Date().getHours()
  let checkDay = ''

  if (currentTime <= 9) {
    checkDay = 'buổi sáng'
  } else if (currentTime <= 14) {
    checkDay = 'buổi trưa'
  } else if (currentTime <= 18) {
    checkDay = 'buổi chiều'
  } else {
    checkDay = 'buổi tối'
  }

  let helloText = `Chúc bạn một ${checkDay} vui vẻ !!!`
  document.getElementById('welcome-text').innerHTML = helloText

  // log-out
  var logOutButton = document.querySelectorAll('a.sidebar-button')[7]

  logOutButton.onclick = function() {
    document.cookie = "auth_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  }

</script>