<div class="dropup">
  <span><i class="fi fi-sr-circle-phone-flip"></i></span>
  <div class="dropup-content">
    <div class="content">
      <a target="_blank" href="https://www.facebook.com/bunnylylyyy"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" alt="loading" loading="lazy"/></a>
    </div>               
    <div class="content">
      <a target="_blank" href="https://www.instagram.com/bunnyhouse.__/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/225px-Instagram_logo_2022.svg.png" alt="loading" loading="lazy"/></a>
    </div>               
    <div class="content"><img src="https://cdn.haitrieu.com/wp-content/uploads/2022/01/Logo-Zalo-Arc.png" alt="loading" style="width: 30px;" loading="lazy"/>
    </div> 
  </div>              
</div>

<div class="chat-icon">
  <i class="fi fi-sr-comment-quote"></i>
</div>

<div class="chat-box" style="display: none">
  <div class="chat-header">
    <div class="icon">
      <img src="https://res.cloudinary.com/bunny-store/image/upload/v1730102111/web-img/4_lnwzuk_jkpls2.webp" alt="loading">
      <div>Đặng Quỳnh Ly</div>
    </div>
    <div class="minimize" style="cursor: pointer;"><i class="fi fi-br-window-minimize"></i></div>
  </div>
  <div class="chat-body" style="display: none">
    <ul class="chat-content">
      <div class="left-content">
        <img src="https://res.cloudinary.com/bunny-store/image/upload/v1730102111/web-img/4_lnwzuk_jkpls2.webp" alt="loading">
        <li>Hi, em có thể hỗ trợ gì cho anh/chị không ạ</li>
      </div>
    </ul>
    
    <form class="input-form">
      <textarea name="input" id="input" class="input" placeholder="Aa"></textarea>
      <div class="send-btn not-allowed">Gửi</div>
    </form>
  </div>
  <div class="not-logged-in"><p>Please <a href="/authentication/sign-in">Log in</a> to chat</p></div>
</div>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script>
  const socket = io('http://localhost:3000', {
    path: "/socket.io"
  });
  const minimize    = document.querySelector('div.minimize')
  const chat        = document.querySelector('div.chat-icon')
  const chatBox     = document.querySelector('div.chat-box')
  const chatBody    = document.querySelector('div.chat-body')
  const chatContent = document.querySelector('ul.chat-content')
  const input       = document.querySelector('textarea.input')
  const sendBtn     = document.querySelector('div.send-btn')
  const notLoggedIn = document.querySelector('div.not-logged-in')
  const isLoggedIn  = `{{isUser}}`
  const userId      = `{{userId}}`
  const form = document.querySelector('form.input-form')
  
  if (isLoggedIn) chatBody.style.display = ''
  chat.onclick = function() {chatBox.style.display === 'none' ? chatBox.style.display = '' : chatBox.style.display = 'none'}
  minimize.onclick = function () {chatBox.style.display = 'none'}

  if (userId === '65eddb9e7abb421b88771b35') {
    socket.emit('joinRoom', '67682d1ef5b2b2e80b0f439c')
  } else {
    socket.emit('joinRoom', 'guest')
  }
  if (`{{sync_chat}}`) {
    const chatData = fetch()
  }
    
  sendBtn.onclick = function() {
    if (input.value.trim() !== '') {
      socket.emit('privateMessage', { room: '12345', message: `${userId}:${input.value}` })
      {{!-- socket.emit('chat message', `${userId}:${input.value}`); --}}
      input.value = ''
      sendBtn.classList.add('not-allowed')
    }
  }

  input.addEventListener('input', function() {
    if (input.value.trim() !== '') sendBtn.classList.remove('not-allowed') 
    else sendBtn.classList.add('not-allowed')
  })

  input.addEventListener("keypress", function(event) {
    if (event.key === "Enter" && input.value.trim() !== '') {
      sendBtn.click();
      input.value = ''
      sendBtn.classList.add('not-allowed')
    }
  })

  socket.on('chat message', (id, msg) => {
    console.log(`${id},${msg}`)
    const chat = document.createElement('li');
    chat.textContent = msg;
    if (id.trim() === userId) {
      chat.setAttribute('class', 'right-content')
    }  
      chatContent.appendChild(chat);
  });

</script>