<div class="store-logo">
  <image src="img/logo.jpg" class="image-front"/>
  <image src="img/full_logo.jpg" class="image-back"/>
</div>

<div class="search-bar" style="width: 50%; position: relative;">
  <form method="get" action="">
    <input
      id="search-input"
      type="text" 
      class="form-control"
      placeholder="nhập mã hàng, tên sản phẩm để tìm kiếm"
      name="q"
    >

    <button type="submit" class="btn btn-primary">
      <i class="fi fi-br-search" ></i>
    </button>
  </form>
</div>
  

<div class="header-button">
  <i class="fi fi-rr-shopping-cart-add"></i>

  <div class="dropdown-avatar">
    <div class="avatar-image">
      <img src="img/4.jpg" alt="loading"/>
    </div>
    <div class="avatar">
      <div class="avatar-animation">
        <div class="avatar-content">
          <a href="">Thông tin cá nhân</a>
        </div>
      </div>
      <div class="avatar-animation">
        <div class="avatar-content">
          <a href="">Đổi mật khẩu</a>
        </div>
      </div>
      <div class="avatar-animation">
        <div class="avatar-content">
          <a href="">Đăng xuất</a>
        </div>
      </div>
    </div>
  </div>
  
  <i class="fi fi-rs-toggle-on" onclick="myFunction()"></i>
</div>

