<div class="navigation-bar">
  <div style="display: flex; align-items: center">  
    <div class="dropdown">
      <div>
        <div style="display: flex; gap: 10px; align-items: center; padding: 0 15px 0;" class="dropdown-title">
          <i class="fi fi-br-menu-burger"></i>
          <h5>DANH MỤC SẢN PHẨM</h5>
        </div>
      </div>

      <div class="dropdown-content">
        <div class="dropdown-content-dropright">
          <div class="content-animation">
            <div class="content">
              <a href="">Trang Điểm</a>
              <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
            </div>               
          </div>
          <div class="dropdown-content-dropright-content">
            <div class="content-animation">
              <div class="content">
                <a href="">Kem Lót</a>
              </div>               
            </div>
            <div class="content-animation">
              <div class="content">
                <a href="">Che Khuyết Điểm</a>
              </div>               
            </div>
          </div>  
        </div>

        <div class="dropdown-content-dropright">
          <div class="content-animation">
            <div class="content">
              <a href="">Son Môi</a>
              <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
            </div>               
          </div>
          <div class="dropdown-content-dropright-content">
            <div class="content-animation">
              <div class="content">
                <a href="">Kem Lót</a>
              </div>               
            </div>
            <div class="content-animation">
              <div class="content">
                <a href="">Che Khuyết Điểm</a>
              </div>               
            </div>
          </div>
        </div>

        <div class="dropdown-content-dropright">
          <div class="content-animation">
            <div class="content">
              <a href="">Chăm sóc da</a>
              <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
            </div>               
          </div>
          <div class="dropdown-content-dropright-content">
            <div class="content-animation">
              <div class="content">
                <a href="">Kem Lót</a>
              </div>               
            </div>
            <div class="content-animation">
              <div class="content">
                <a href="">Che Khuyết Điểm</a>
              </div>               
            </div>
          </div>  
        </div>

        <div class="dropdown-content-dropright">
          <div class="content-animation">
            <div class="content">
              <a href="">Nước Hoa</a>
              <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
            </div>               
          </div>
          <div class="dropdown-content-dropright-content">
            <div class="content-animation">
              <div class="content">
                <a href="">Kem Lót</a>
              </div>               
            </div>
            <div class="content-animation">
              <div class="content">
                <a href="">Che Khuyết Điểm</a>
              </div>               
            </div>
          </div>  
        </div>
        
      </div>
    </div>

    <div style="display: flex; align-items: center; padding: 0 15px 0;" class="dropdown-title">
      <h5>GIỚI THIỆU</h5>
    </div>
    <div style="display: flex; align-items: center; padding: 0 15px 0;" class="dropdown-title">
      <h5>HÀNG MỚI VỀ</h5>
    </div>
  </div>
</div>
