<div class="store-logo">
  <a href="/home">
    <image src="../../img/logo.jpg" class="image-front"/>
    <image src="../../img/full_logo.jpg" class="image-back"/>
  </a>
</div>

<div class="search-bar" style="width: 50%; position: relative;">
  <form method="get" action="">
    <input
      id="search-input"
      type="text" 
      class="form-control"
      placeholder="nhập mã hàng, tên sản phẩm để tìm kiếm"
      name="q"
    >

    <button type="submit" class="btn btn-primary">
      <i class="fi fi-br-search" ></i>
    </button>
  </form>
</div>
  
<div class="header-button">
  <a href="/orders" class="orders">
    <span class="orders-quantity"></span>    
    <i class="fi fi-rr-shopping-cart-add"></i>
  </a>

  <div class="dropdown-avatar">
    <div class="avatar-image">
      <img src="../../img/4.jpg" alt="loading"/>
    </div>
    <div class="avatar">
      <a href="/authentication/sign-in" class="log-in">Đăng nhập</a>
      <a href="/home" class="log-out">Đăng xuat</a>
    </div>
  </div>
  
  <i class="fi fi-rs-toggle-on" onclick="myFunction()"></i>
</div>

<script>
  // update cart-orders base on each users using local storage
  var getOrdersQuantity = document.querySelector('span.orders-quantity')
  
  function updateCartCount() {
    var countObject = JSON.parse(localStorage.getItem('product_cart_count')) || {};
    var countOrdersQuantity = countObject.localCounting || 0;
    getOrdersQuantity.innerText = countOrdersQuantity
  }

  document.addEventListener('cartUpdated', updateCartCount);
  updateCartCount()

  // update avatar logged-in or not logged-in
  var getHeaderLogInButton = document.querySelector('a.log-in')
  var getHeaderLogOutButton = document.querySelector('a.log-out')

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  var token = getCookie("auth_token")
  if (token) {
    getHeaderLogInButton.style.display = 'none'
    getHeaderLogOutButton.style.display = 'block'
  } else {
    getHeaderLogInButton.style.display = 'block'
    getHeaderLogOutButton.style.display = 'none'
  }

  // log-out and clear cookie
  getHeaderLogOutButton.onclick = function() {
    document.cookie = "auth_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  }
</script>