<div class="store-logo">
  <a href="/home">
    <image src="../../../img/logo.jpg" class="image-front"/>
    <image src="../../../img/full_logo.jpg" class="image-back"/>
  </a>
</div>

<div class="search-bar" style="width: 50%; position: relative;">
  <form method="get" action="">
    <input
      id="search-input"
      type="text" 
      class="form-control"
      placeholder="nhập mã hàng, tên sản phẩm để tìm kiếm"
      name="q"
    >

    <button type="submit" class="btn btn-primary">
      <i class="fi fi-br-search" ></i>
    </button>
  </form>
</div>
  
<div class="header-button">
  <a href="/orders" class="orders">
    <span class="orders-quantity"></span>    
    <i class="fi fi-rr-shopping-cart-add"></i>
  </a>

  <img src="../../../img/4.jpg" class="dropdown-avatar" alt="loading"/>
</div>

<div class="avatar-menu">
</div>

<script>
  // update cart-orders base on each users using local storage
  var getOrdersQuantity = document.querySelector('span.orders-quantity')
  
  function updateCartCount() {
    var countObject = JSON.parse(localStorage.getItem('product_cart_count')) || {};
      var countOrdersQuantity = countObject.localCounting || 0;
      getOrdersQuantity.innerText = countOrdersQuantity
    }

    document.addEventListener('cartUpdated', updateCartCount);
    updateCartCount()

    // onclick avatar
    var getAvatarMenu = document.querySelector('div.avatar-menu')
    var getAvatar = document.querySelector('img.dropdown-avatar')
    
    getAvatarMenu.style.display = 'none'
    getAvatar.onclick = function() {
      if (getAvatarMenu.style.display === 'none') {
        getAvatarMenu.style.display = 'block'
      } else {
        getAvatarMenu.style.display = 'none'
      }
    }

    document.addEventListener('click', function(event) {
    if (!event.target.matches('.dropdown-avatar') &&
        !event.target.closest('.dropdown-avatar') 
      ) { 
      getAvatarMenu.style.display = 'none'
    }
  });

  // update avatar logged-in or not logged-in
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  var token = getCookie('auth_token')
  var user_id = getCookie('user_id')
  if (token) {
    var updateProfileButton = document.createElement('a')
    updateProfileButton.innerText = 'Cập Nhật Thông Tin'
    updateProfileButton.setAttribute('href', `/update-profile/${user_id}`)
    getAvatarMenu.appendChild(updateProfileButton)

    var checkOrderButton = document.createElement('a')
    checkOrderButton.innerText = 'Tiến Độ Giao Hàng'
    checkOrderButton.setAttribute('href', `/orders/checking/user/${user_id}`)
    getAvatarMenu.appendChild(checkOrderButton)

    var logOutButton = document.createElement('a')
    logOutButton.innerText = 'Đăng Xuất'
    logOutButton.setAttribute('href', '/home')
    getAvatarMenu.appendChild(logOutButton)
  } 
  else {
    var logInButton = document.createElement('a')
    logInButton.innerText = 'Đăng nhập'
    logInButton.setAttribute('href', '/authentication/sign-in')
    getAvatarMenu.appendChild(logInButton)
  }

  // log-out and clear cookie
  if (logOutButton) {
    logOutButton.onclick = function() {
      document.cookie = "auth_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }
  }
  
</script>