<div class="navigation-bar">
  <div class="dropdown">
    <div class="dropdown-title">
      <i class="fi fi-br-menu-burger"></i>
      <p>DANH MỤC SẢN PHẨM</p> 
    </div>
  
    <div class="dropdown-content">
      <div class="dropdown-content-dropright">
        <a href="">
          Skincare
          <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
        </a>
        <div class="dropdown-content-dropright-content">
          <div class="column">
            <div class="column-1">    
              <a href="">Xịt khoáng</a>
              <a href="">Mặt nạ</a>
              <a href="">Serum</a>
              <a href="">BHA</a>
              <a href="">Tẩy da chết</a>
              <a href="">Dưỡng da</a>
            </div>

            <div class="column-2">    
              <a href="">Toner</a>
              <a href="">Nước tẩy trang</a>
              <a href="">Chấm mụn</a>
              <a href="">Kem dưỡng ẩm</a>
              <a href="">Sửa rửa mặt</a>
            </div>
          </div>
        </div>  
      </div>

      <div class="dropdown-content-dropright">
        <a href="">
          Makeup
          <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
        </a>
        <div class="dropdown-content-dropright-content">
          <div class="column">
            <div class="column-1">    
              <a href="">Phấn má</a>
              <a href="">Mascara</a>
              <a href="">Kẻ mắt</a>
            </div>

            <div class="column-2">    
              <a href="">Kem chống nắng</a>
              <a href="">Che khuyết điểm</a>
              <a href="">Son</a>
            </div>
          </div>
        </div>  
      </div>            
    </div>
  </div>

  <div class="dropdown-title">
    <a href="/introduce">GIỚI THIỆU</a>
  </div>
  <div class="dropdown-title">
    <a href="/new-arrival">HÀNG MỚI VỀ</a>
  </div>
</div>
