<div class="store-logo">
  <a href="/">
    <image src="https://res.cloudinary.com/bunny-store/image/upload/v1711070727/web-img/logo_xkavlj.webp"/>
  </a>

  <div class="responsive-menu" style="display: none;">
    <i class="fi fi-br-bars-sort"></i>
  </div>
</div>

<div class="menu">
  <div class="dropdown">
    <div class="dropdown-title">
      <i class="fi fi-br-menu-burger"></i>
      <p>DANH MỤC SẢN PHẨM</p> 
    </div>

    <ul>
      <li>
        <span>
          <a href="/all-products/skincare">
            Skincare
          </a>
          <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
        </span>
        <ul>
            <li>
              <a href="/all-products/skincare/xit-khoang">
                Xịt khoáng
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079975/web-img/mhseyytpn8h6zvg4tabd_r57wfv.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/mat-na">
                Mặt nạ
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079978/web-img/sfudjh00pykqpvav4sgy_xqbzev.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/serum">
                Serum
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079970/web-img/kjz3zdlyxo76h1p3t6lm_uk4agl.jpg" alt="">
            </a>
            </li>

            <li>
              <a href="/all-products/skincare/bha">
                BHA
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079984/web-img/tw8lej0aklemwinukmbq_n00mji.jpg" alt="">
            </a>
            </li>

            <li>
              <a href="/all-products/skincare/tay-da-chet">
                Tẩy da chết
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079964/web-img/ettmlmf7s4x0g8d98nvq_vklnps.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/duong-da">
                Dưỡng da
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079987/web-img/xkkpidyegeiesbea9rk5_b4tgej.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/toner">
                Toner
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079967/web-img/k0easo5upkoydszse1i3_jp7mrg.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/nuoc-tay-trang">
                Nước tẩy trang
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079972/web-img/md2husxtaoo5kmyp6qxy_cmvvnp.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/cham-mun">
                Chấm mụn
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079961/web-img/almfjrziupsfnxh4ikej_hfcib1.jpg" alt="">
              </a>
            </li>
            
            <li>
              <a href="/all-products/skincare/kem-duong-am">
                Kem dưỡng ẩm
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079981/web-img/sznuvy878jkx6irn87wt_molje8.jpg" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/sua-rua-mat">
                Sữa rửa mặt
                <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711079959/web-img/zeuznbkrsspuucipy2bh_akixfj.jpg" alt="">
              </a>
            </li>
        </ul>
      </li>
      <li>
        <span>
          <a href="/all-products/makeup">
            Makeup
          </a>
          <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
        </span>
        <ul>
          <li>
            <a href="/all-products/makeup/phan-ma">
              Phấn má
              <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080154/web-img/o1th0fymd3gzjzgwbrbz_ghkt70.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/mascara">
              Mascara
              <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080143/web-img/ejschlqugyhr4asayspm_hbrdiy.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/ke-mat">
              Kẻ mắt
              <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080172/web-img/djy7wut0chooynp65hov_xxbwxi.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/kem-chong-nang">
              Kem chống nắng
              <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080150/web-img/hspzixrzay9whcg51meo_h4iotk.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/che-khuyet-diem">
              Che khuyết điểm
              <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080188/web-img/vr3yzblr5g0crzkgj9po_e8mrjp.jpg" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/son">
              Son
              <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711080146/web-img/jd2llxirfbwpdwekk7lz_cpznu5.jpg" alt="">
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="title">
    <a href="/introduce">GIỚI THIỆU</a>
  </div>

  <div class="title">
    <a href="/all-products/new-arrival">HÀNG MỚI VỀ</a>
  </div>

  <div class="title">
    <a href="/all-orders/checking">ĐƠN HÀNG</a>
  </div>

  <div class="title">
    <i class="fi fi-br-search" ></i>
  </div>
</div>

<div class="header-button">
  <a href="/all-orders" class="orders">
    <span class="orders-quantity"></span>    
    <i class="fi fi-rr-shopping-cart-add"></i>
  </a>

  <img src="https://res.cloudinary.com/bunny-store/image/upload/v1711070715/web-img/4_lnwzuk.jpg" class="dropdown-avatar" alt="loading"/>
</div>

<div class="avatar-menu">
</div>

<form method="get" action="" class="search-form">
</form>

<script>
  // update cart-orders base on each user using local storage
  var getOrdersQuantity = document.querySelector('span.orders-quantity')
  
  function updateCartCount() {
    var countObject = JSON.parse(localStorage.getItem('product_cart_count')) || {};
      var countOrdersQuantity = countObject.localCounting || 0;
      getOrdersQuantity.innerText = countOrdersQuantity
    }

  document.addEventListener('cartUpdated', updateCartCount);
  updateCartCount()

  // onclick search icon
  var getSearchIcon = document.querySelector('i.fi-br-search')
  var getForm = document.querySelector('form.search-form')
  getForm.style.display = 'none'

  // create input element
  var searchInput = document.createElement('input')
  searchInput.setAttribute('id', 'search-input')
  searchInput.setAttribute('type', 'text')
  searchInput.setAttribute('placeholder', 'nhập mã hàng, tên sản phẩm để tìm kiếm')

  getSearchIcon.onclick = function() {
    if (getForm.style.display === 'none') {
      getForm.style.display = 'block'
      getForm.appendChild(searchInput)
    } 
    else {
      getForm.style.display = 'none'
      getForm.removeChild(searchInput)
    }
  }

  // onclick avatar
  var getAvatarMenu = document.querySelector('div.avatar-menu')
  var getAvatar = document.querySelector('img.dropdown-avatar')
  getAvatarMenu.style.display = 'none'

  getAvatar.onclick = function() {
    if (getAvatarMenu.style.display === 'none') {
      getAvatarMenu.style.display = 'block'
    } else {
      getAvatarMenu.style.display = 'none'
    }
  }

  document.addEventListener('click', function(event) {
  if (!event.target.matches('.dropdown-avatar') &&
      !event.target.closest('.dropdown-avatar') 
    ) { 
    getAvatarMenu.style.display = 'none'
  }
});

  // update avatar logged-in or not logged-in
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  var token = getCookie('auth_token')
  var user_id = getCookie('user_id')
  if (token) {
    var updateProfileButton = document.createElement('a')
    updateProfileButton.innerText = 'Thông tin cá nhân'
    updateProfileButton.setAttribute('href', `/profile/update/${user_id}`)
    getAvatarMenu.appendChild(updateProfileButton)

    var logOutButton = document.createElement('a')
    logOutButton.innerText = 'Đăng Xuất'
    logOutButton.setAttribute('href', '/home')
    getAvatarMenu.appendChild(logOutButton)
  } 
  else {
    var logInButton = document.createElement('a')
    logInButton.innerText = 'Đăng nhập'
    logInButton.setAttribute('href', '/authentication/sign-in')
    getAvatarMenu.appendChild(logInButton)
  }

  // log-out and clear cookie
  if (logOutButton) {
    logOutButton.onclick = function() {
      document.cookie = "auth_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      document.cookie = "user_id=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }
  }

  // resposive menu
  var responsiveMenu = document.querySelector('div.responsive-menu')
  var menu = document.querySelector('div.menu')
  var width = window.innerWidth

  function setDisplay(width, menu) {
    if (width < 700) {
      menu.style.display = 'none'
    } else {
      menu.style.display = 'flex'
    }
  }
  setDisplay(width, menu)

  window.addEventListener("resize", function() {
    width = window.innerWidth
    setDisplay(width, menu)
  });

  responsiveMenu.onclick = function() {
    if (menu.style.display === 'none') {
      menu.style.display = 'flex'
    } else {
      menu.style.display = 'none'
    }
  }
  
  
</script>