<div class="navigation-container">
  <div class="dropdown">
    <div class="dropdown-title">
      <i class="fi fi-br-menu-burger"></i>
      <p>DANH MỤC SẢN PHẨM</p> 
    </div>
  
    <div class="dropdown-content">
      <div class="dropdown-content-dropright">
        <a href="/all-products/skincare">
          Skincare
          <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
        </a>
        <div class="dropdown-content-dropright-content">
          <div class="column">
            <div class="column-1">    
              <a href="/all-products/skincare/xit-khoang">Xịt khoáng</a>
              <a href="/all-products/skincare/mat-na">Mặt nạ</a>
              <a href="/all-products/skincare/serum">Serum</a>
              <a href="/all-products/skincare/bha">BHA</a>
              <a href="/all-products/skincare/tay-da-chet">Tẩy da chết</a>
              <a href="/all-products/skincare/duong-da">Dưỡng da</a>
            </div>

            <div class="column-2">    
              <a href="/all-products/skincare/toner">Toner</a>
              <a href="/all-products/skincare/nuoc-tay-trang">Nước tẩy trang</a>
              <a href="/all-products/skincare/cham-mun">Chấm mụn</a>
              <a href="/all-products/skincare/kem-duong-am">Kem dưỡng ẩm</a>
              <a href="/all-products/skincare/sua-rua-mat">Sữa rửa mặt</a>
            </div>
          </div>
        </div>  
      </div>

      <div class="dropdown-content-dropright">
        <a href="/all-products/makeup">
          Makeup
          <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
        </a>
        <div class="dropdown-content-dropright-content">
          <div class="column">
            <div class="column-1">    
              <a href="/all-products/makeup/phan-ma">Phấn má</a>
              <a href="/all-products/makeup/mascara">Mascara</a>
              <a href="/all-products/makeup/ke-mat">Kẻ mắt</a>
            </div>

            <div class="column-2">    
              <a href="/all-products/makeup/kem-chong-nang">Kem chống nắng</a>
              <a href="/all-products/makeup/che-khuyet-diem">Che khuyết điểm</a>
              <a href="/all-products/makeup/son">Son</a>
            </div>
          </div>
        </div>  
      </div>            
    </div>
  </div>

  <div class="title">
    <a href="/introduce">GIỚI THIỆU</a>
  </div>
  <div class="title">
    <a href="/all-products/new-arrival">HÀNG MỚI VỀ</a>
  </div>
  <div class="title">
    <a href="/all-orders/checking">ĐƠN HÀNG</a>
  </div>
</div>

<script>

</script>